<mat-list>
  <h3>
    Properties
  </h3>
  <div>
    <mat-button-toggle class="mw-property-editor-font-style" [checked]="componentModel?.fontStyle === 'italic'"
                       (change)="onFontStyleChange($event)">
      <mat-icon>format_italic</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle class="mw-property-editor-font-weight" [checked]="componentModel?.fontWeight === '900'"
                       (change)="onFontWeightChange($event)">
      <mat-icon>format_bold</mat-icon>
    </mat-button-toggle>
    <mat-form-field>
      <input class="mw-property-editor-font-size" matInput type="number" placeholder="size"
             [value]="componentModel.fontSize?.replace('px', '')" (input)="onFontSizeInput($event)">
      <span matSuffix>px</span>
    </mat-form-field>
    <mat-form-field>
      <input class="mw-property-editor-color" matInput placeholder="size"
             [value]="componentModel.color ? componentModel.color : 'inherit'" (input)="onColorInput($event)">
    </mat-form-field>
  </div>
</mat-list>
