@import "../../../themes/dark";

.mw-slide-tabs {
  display: block;
}

.mw-slide-tabs-container {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  color: $nav-list-color;
}

.mw-tab-label {
  text-align: center;
  display: inline-block;
  position: relative;
  height: 100px;
  &:hover {
    background: $nav-list-item-hover-background-color;
    cursor: pointer;
  }
}

.mw-tab-label-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translateX(-50%) translateY(-50%) rotate(90deg);
  white-space: nowrap;
}

.mw-tab-label--selected, .mw-tab-label--selected:hover {
  background: $nav-list-item-selected-background-color;
}

.mw-tab-body.mw-tab-body--active {
  display: block;
}
