@import "dark";

.mw-tool-panel {
  display: block;
  min-width: 22px;
  .mat-icon {
    color: $nav-list-color;
  }

  .mw-tool-panel-container {
    height: 100%;
  }

  .mw-tool-panel-trash {
    font-size: 128px;
    width: 128px;
    height: 128px;
    padding: 4px;
  }
}

.mw-tool-panel-toggle-icon--left {
  display: none;
}
.mw-tool-panel-toggle-icon--right {
  display: inline-block;
}

.mw-layout-editor-sidenav--collapsed {
  h3, .mat-list .mat-list-item .mat-list-text {
    display: none;
  }
  .mat-list .mat-list-item .mat-list-item-content {
    padding: 0;
  }

  .mw-tool-panel-trash {
    font-size: 22px;
    width: 22px;
    height: 22px;
    padding: 0;
  }

  .mw-tool-panel-toggle-icon--left {
    display: inline-block;
  }
  .mw-tool-panel-toggle-icon--right {
    display: none;
  }
}
