<mw-slide-tabs (selectedIndexChange)="handleSelectedIndexChange($event)">
  <mw-tab label="components">
    <mw-component-picker></mw-component-picker>
  </mw-tab>
  <mw-tab label="properties">
    <mw-property-editor *ngIf="selectedComponentModel" [componentModel]="selectedComponentModel"></mw-property-editor>
  </mw-tab>
</mw-slide-tabs>
  <div class="mw-tool-panel-button" dnd-droppable (onDropSuccess)="handleDropSuccess($event)">
    <mat-icon class="mw-tool-panel-trash">delete</mat-icon>
  </div>
