@import "dark";

.mw-tool-panel {
  .mat-icon {
    color: $nav-list-color;
  }

  .mw-tool-panel-container {
    height: 100%;
  }

  .mw-tool-panel-trash {
    font-size: 128px;
    width: 128px;
    height: 128px;
    padding: 4px;
  }

  h3 {
    border: none;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 0 16px;
    background: $nav-list-header-background-color;
    color: $nav-list-header-color;
  }

  .mat-list-item {
    color: $nav-list-color;
  }
}

.mw-tool-panel-toggle-icon--left {
  display: none;
}
.mw-tool-panel-toggle-icon--right {
  display: inline-block;
}

.mw-layout-editor-sidenav--collapsed {
  h3, .mat-list .mat-list-item .mat-list-text {
    display: none;
  }
  .mat-list .mat-list-item .mat-list-item-content {
    padding: 0;
  }

  .mat-list .mat-list-item {
    height: 32px;
  }

  .mw-tool-panel-trash {
    font-size: 24px;
    width: 24px;
    height: 24px;
  }

  .mw-tool-panel-toggle-button {
    width: 24px;
    height: 24px;
    padding: 4px;
    margin-bottom: 20px;
  }

  .mw-tool-panel-toggle-icon--left {
    display: inline-block;
  }
  .mw-tool-panel-toggle-icon--right {
    display: none;
  }
}
