.mw-layout-editor {
  mat-sidenav-container, .my-content {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #1e1e1e;
  }

  mat-sidenav-container {

    padding: 20px;
  }

  .mat-drawer-content {
    border: #5c5c5c solid 1px;
  }

  mat-sidenav {
    width: 240px;
    background: #3c3f41;
  }
}
