<mat-sidenav-container>
  <mat-sidenav disableClose="true" class="mw-layout-editor-sidenav" [class.mw-layout-editor-sidenav--collapsed]="collapsed"
               mode="side" opened="true" position="end">

    <mw-slide-tabs>
      <mw-tab label="my tab1">tab1 content</mw-tab>
      <mw-tab label="my tab2 ok">tab2 content</mw-tab>
    </mw-slide-tabs>
    <mw-tool-panel></mw-tool-panel>
  </mat-sidenav>
  <mat-sidenav-content [class.mw-layout-editor-sidenav-content--collapsed]="collapsed">
    <mw-work-area></mw-work-area>
  </mat-sidenav-content>
</mat-sidenav-container>
