// main
$main-content-background-color: #1e1e1e;

$work-area-border: #5c5c5c;

// nav-list
$nav-list-color: #a9bbbb;
$nav-list-background-color: #3c3f41;
$nav-list-header-color: hsla(0, 0%, 100%, .87);
$nav-list-header-background-color: rgba(0, 0, 0, .32);

// toolbar
$toolbar-color: #a1a1a1;
$toolbar-background-color: #333;
