$selection-color: #4ab0d8;

.mw-selection-tag {
  display: none;
  position: absolute;
  top: -1px;
  left: -1px;
  cursor: pointer;
  pointer-events: none;
  .mw-selection-tag-block {
    display: flex;
    align-items: center;
    height: 15px;
    min-width: 30px;
    background: $selection-color;
    position: absolute;
    left: 0;
    top: -15px;
    font-size: 11px;
    padding-left: 3px;
    padding-right: 3px;
    pointer-events: all;
    mat-icon {
      font-size: 11px;
      height: 12px;
      width: 12px;
      margin-right: 3px;
    }
  }
  .mw-selection-tag-border {
    border: $selection-color solid 1px;
  }

  &.mw-selection-tag--visible {
    display: block;
  }
}
