.mw-editor-cell {
  height: 50px;
  background: none;
  border: #4ab0d8 dashed 1px;
  margin: 10px;

  .mw-editor-cell-message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    .mw-editor-cell-message {
      text-align: center;
    }
  }
}
