@import "../../themes/dark";

.mw-navigation {
  h3 {
    border: none;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 0 16px;
    background: $nav-list-header-background-color;
  }

  .mat-nav-list {
    .mat-list-item {
      color: $nav-list-color;
      &:hover {
        background: $nav-list-item-hover-background-color;
      }
    }
  }

  .mat-list-item.active-route {
    background: $nav-list-item-selected-background-color;
  }
}
