<mat-nav-list *ngIf="layoutViewList$ | async as layoutList; else loading">
  <h3 md-subheader>Layout Viewer</h3>
  <a mat-list-item *ngFor="let item of layoutList.items" [routerLink]="'/layout-viewer/' + item.id"
     [queryParams]="{ name: item.name, retrievalStrategy: item.retrievalStrategy }">
    {{ item.name }}
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>
<mat-nav-list *ngIf="layoutEditList$ | async as layoutEditList; else loading">
  <h3 md-subheader>Layout Editor</h3>
  <a mat-list-item [routerLink]="'/layout-editor/' + newLayoutId" [queryParams]="{ new: true }">New</a>
  <mat-divider></mat-divider>
  <a mat-list-item *ngFor="let item of layoutEditList.items" [routerLink]="'/layout-editor/' + item.id"
     [queryParams]="{ name: item.name, retrievalStrategy: item.retrievalStrategy }">
    {{ item.name }}
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>
<ng-template #loading>
  <div>Loading ...</div>
</ng-template>
