/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "dark";

// Not sure why this breaks dnd with dynamic components
//@import "ng2-dnd/bundles/style.css";

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: $main-content-background-color;
}
